<!DOCTYPE html>
<html>
 <head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <meta charset="utf-8">
   <title>ต้อนรับสู่การคัดสรรบ้าน</title>
 </head>
 <body>
   <h1>กริฟฟินดอร์ = {{gryffindorcount}}</h1>
   <h1>ฮัฟเฟิลพัฟ = {{hufflepuffcount}}</h1>
   <h1>เรเวนคลอ = {{ravenclawcount}}</h1>
   <h1>สลิธีรีน = {{slytherincount}}</h1>
   <div class="container">
       <table class=" table table-striped">{{name1}}</table>
       <table class=" table table-striped">{{name2}}</table>
       <table class=" table table-striped">{{name3}}</table>
       <table class=" table table-striped">{{name4}}</table>
       <table class=" table table-striped">{{name5}}</table>
       <table class=" table table-striped">{{name6}}</table>
       <table class=" table table-striped">{{name7}}</table>
       <table class=" table table-striped">{{name8}}</table>
       <table class=" table table-striped">{{name9}}</table>
       <table class=" table table-striped">{{name10}}</table>
       <table class=" table table-striped">{{name11}}</table>
       <table class=" table table-striped">{{name12}}</table>
       <table class=" table table-striped">{{name13}}</table>
       <table class=" table table-striped">{{name14}}</table>
       <table class=" table table-striped">{{name15}}</table>
       <table class=" table table-striped">{{name16}}</table>
       <table class=" table table-striped">{{name17}}</table>
       <table class=" table table-striped">{{name18}}</table>
       <table class=" table table-striped">{{name19}}</table>
       <table class=" table table-striped">{{name20}}</table>
       <table class=" table table-striped">{{name21}}</table>
       <table class=" table table-striped">{{name22}}</table>
       <table class=" table table-striped">{{name23}}</table>
       <table class=" table table-striped">{{name24}}</table>
       <table class=" table table-striped">{{name25}}</table>
       <table class=" table table-striped">{{name26}}</table>
       <table class=" table table-striped">{{name27}}</table>
       <table class=" table table-striped">{{name28}}</table>
       <table class=" table table-striped">{{name29}}</table>
       <table class=" table table-striped">{{name30}}</table>
       <table class=" table table-striped">{{name31}}</table>
       <table class=" table table-striped">{{name32}}</table>
       <table class=" table table-striped">{{name33}}</table>
       <table class=" table table-striped">{{name34}}</table>
       <table class=" table table-striped">{{name35}}</table>
       <table class=" table table-striped">{{name36}}</table>
       <table class=" table table-striped">{{name37}}</table>
       <table class=" table table-striped">{{name38}}</table>
       <table class=" table table-striped">{{name39}}</table>
       <table class=" table table-striped">{{name40}}</table>
       <table class=" table table-striped">{{name41}}</table>
       <table class=" table table-striped">{{name42}}</table>
       <table class=" table table-striped">{{name43}}</table>
       <table class=" table table-striped">{{name44}}</table>
       <table class=" table table-striped">{{name45}}</table>
       <table class=" table table-striped">{{name46}}</table>
       <table class=" table table-striped">{{name47}}</table>
       <table class=" table table-striped">{{name48}}</table>
       <table class=" table table-striped">{{name49}}</table>
       <table class=" table table-striped">{{name50}}</table>


   </div>

 </body>
</html>